<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hkc"
    android:versionCode="2"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <!-- 监听应用本身卸载，必须要加的权限 -->
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/hkc_ic_launcher"
        android:label="@string/hkc_app_name"
        android:theme="@style/AppTheme" >

        <!-- HKC渠道 -->
        <meta-data
            android:name="HKC_CHANNEL"
            android:value="@string/hkc_app_name" />
        <!-- HKC的爱火商盟 APPKEY -->
        <!-- 首趣商城_测试	dc988e16 -->
        <meta-data
            android:name="HKC_AH_APP_KEY"
            android:value="dc988e16" />
        <!-- HKC的友盟APPKEY -->
        <meta-data
            android:name="HKC_UM_APP_KEY"
            android:value="54c0643bfd98c55309000cac" />

        <!-- HKC 过渡页面 -->
        <activity
            android:name=".HKCSplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- HKC 微信招商展示页面 -->
        <activity
            android:name=".HKCMerchantsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>

        <!-- HKC service -->
        <service android:name=".service.SystemUpdateService" >
        </service>

        <!-- HKC 用于与第三方APK合并 -->
        <activity
            android:name=".extra.TargetActivity"
            android:label="@string/title_activity_target"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>